.dashboard-container {
    min-height: 100vh;
    background-color: #0f0f0f;
    color: white;
    font-family: sans-serif;
}

.main-content {
    padding: 100px 40px 40px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.card {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 16px;
    border: 1px solid #222;
    width: 260px;
}

.card-label {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.green {
    color: #00c853;
}

.red {
    color: #ff5252;
}

.neutral {
    color: #aaa;
}

.table-section {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #222;
    max-height: 50vh;
    overflow-y: auto;
}

.table-section h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px 10px;
    text-align: left;
}

thead {
    color: #888;
    border-bottom: 1px solid #222;
}

tbody tr {
    border-bottom: 1px solid #1a1a1a;
}

.volatilityred {
    color: red;
}

.volatilitygreen {
    color: green;
}

.volatilityneutral {
    color: rgb(221, 221, 130);
}